*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
 font-family: sans-serif;
 
 line-height: 1.0rem;
 
}

h1{
  font-size: 14px;
  
}
p{
  font-size: 15px;
}
h2{
  font-size: 34px;
  
}
a{
  color: #8792A2;
  text-decoration: none;
  cursor: pointer;
}